# OS X hidden file 
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Gdb peda
.gdb_history
peda-session-*.txt

# Sdk and build
build-river-tools
corpus-*
river.sdk
trace.simple.out*
execution.log*
input*
in

#output
*.bin
